<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin WAE | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <% include ./partials/static_header %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include ./partials/header %>

        <!-- Left side column. contains the logo and sidebar -->
        <% const dataSidebar = {
            activeDashboard: true,
            activeConfig: false
        } %>
        <%- include('./partials/sidebar', dataSidebar) -%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <% const dataBreadcrumb = {
                title: 'Dashboard',
                smallTitle: 'Control Panel',
                isDashboard: true
            } %>
            <%- include('./partials/breadcrumb', dataBreadcrumb) -%>

            <!-- Main content -->
            <section class="content">
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        
       <% include ./partials/footer %>
        <!-- ./wrapper -->
    <% include ./partials/static_footer %>
</body>

</html>