<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright font-alt">&copy; <%=new Date().getFullYear();%>&nbsp;<a href="/">WE ARE ENGINEERS</a>, All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links"><a href="https://www.facebook.com/waeVN" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>