<div class="pagination font-alt">
    <a href="#">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="active" href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">
        <i class="fa fa-angle-right"></i>
    </a>
</div>