<div class="widget">
    <h5 class="widget-title font-alt">Danh mục</h5>
    <ul class="icon-list">
        <li>
            <a href="/course/arduino-co-ban">Arduino cơ bản</a>
        </li>
        <li>
            <a href="/course/arduino-iot">Arduino IoT</a>
        </li>
        <li>
            <a href="/course/steam">STEAM</a>
        </li>
    </ul>
</div>