<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%
        const content = (locals.config)?JSON.parse(locals.config):{};
        const header = (locals.header)?JSON.parse(locals.header): {};
        header.titlePage = (content && content.pageTitle)?content.pageTitle:"WAE | Contact"
    %>
    <%- include('./partials/header', header) -%>
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        <!-- Navigation start -->
        <% include ./partials/navigation %>
        <!-- Navigation end -->

        <div class="main">
            <!-- Text start -->
            <section class="module bg-dark-60 contact-page-header" data-background="<%=(content && content.contactImgBackground)?content.contactImgBackground:""%>">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="module-title font-alt"><%=(content && content.contactBigText)?content.contactBigText:""%></h2>
                            <div class="module-subtitle font-serif"><%=(content && content.contactSmallText)?content.contactSmallText:""%></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Text end --> 

            <!-- Form message Start -->
            <section class="module">
                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Contact us</h2>
                        <div class="module-subtitle font-serif"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="alt-features-item mt-0">
                                <div class="alt-features-icon">
                                    <span class="icon-megaphone"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Where to meet</h3>Titan Company
                                <br/>23 Greate Street
                                <br/>Los Angeles, 12345 LS
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="alt-features-item mt-0">
                                <div class="alt-features-icon">
                                    <span class="icon-map"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Say Hello</h3>Email: somecompany@example.com
                                <br/>Phone: +1 234 567 89 10
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Form message End -->

            <!-- Google Map Start -->
            <section id="map-section">
                <div id="map" style="height:100%; width: 100%"></div>
            </section>
            <!-- Google Map End -->
            </div>

            <!-- footer start -->
            <% include ./partials/footer %>
            <!-- footer end -->
        </div>
        <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <% include ./partials/static_footer%>
    <script type="text/javascript">
        let map;
        let infowindow;
        function initMap() {
            infowindow = new google.maps.InfoWindow()

            const longtitude = parseFloat('106.673543');
			const latitude = parseFloat('10.762574');

            var userLatLng = new google.maps.LatLng(latitude, longtitude);

            const mapOptions = {
                center: userLatLng,
                zoom: 16,
                mapTypeId : google.maps.MapTypeId.ROADMAP
            };
            
            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var marker = new google.maps.Marker({
                map: map,
                position: userLatLng
            });
            infowindow.setContent('We Are Engineers - 143 Trần Nhân Tôn, Phường 2, Quận 10, Tp.HCM');
            infowindow.open(map, marker);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCABAsDXwnbiQ5vSIEwL5hhAmLgf0gLRMM&callback=initMap"></script>
</body>

</html>